/*Universal tag for creating all the margin, padding and the sizing of the boxes*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*This will create the background colour for the webpage*/
body {
    background-color: #d9dcd6;
}
/*Anything with this tag will be affected by this. Sizing, Font, colour, etc*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/*Anything with this tag will be affected by this. Sizing, Font, colour, etc*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/*Anything with this tag will be affected by this. Sizing, Font, colour, etc*/
.header h1 .seo {
    color: #d9dcd6;
}
/*Anything with this tag will be affected by this. This however keeps the nav bar fixed to a certain location*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*Anything with this tag will be affected by this. Sizing, Font, colour, etc*/
.header nav ul {
    list-style-type: none;
}
/*Anything with this tag will be affected by this. Sizing, Font, colour, etc*/
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/*Anything with this tag will be affected by this. Sizing, Font, colour, etc*/
a {
    color: #ffffff;
    text-decoration: none;
}
/*Anything with this tag will be affected by this. Sizing, Font, colour, etc*/
p {
    font-size: 16px;
}
/*Anything with this tag will be affected by this. This is loading the image onto the website*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/*Anything with this tag will be affected by this. Sizing, Font, colour, etc*/
.float-left {
    float: left;
    margin-right: 25px;
}
/*Anything with this tag will be affected by this. Sizing, Font, colour, etc*/
.float-right {
    float: right;
    margin-left: 25px;
}
/*Anything with this tag will be affected by this. This is creating a nice and easy flow to read */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*Anything with this tag will be affected by this. This is styling the side box (right) with fonts and content*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/*Anything with this tag will be affected by this. Sizing, Font, colour, etc*/
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}
/*Anything with this tag will be affected by this. Sizing, Font, colour, etc*/
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}
/*Anything with this tag will be affected by this. Sizing, Font, colour, etc*/
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
/*Anything with this tag will be affected by this. This tag is alligning the header to the center of the page*/
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*Anything with this tag will be affected by this. Sizing, Font, colour, etc*/
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*Anything with this tag will be affected by this. Sizing, Font, colour, etc*/
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*Anything with this tag will be affected by this. This creates a flow of reading by seperating the boxes*/
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*Anything with this tag will be affected by this. Sizing, Font, colour, etc*/
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*Anything with this tag will be affected by this. Sizing, Font, colour, etc*/
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*Anything with this tag will be affected by this. Sizing, Font, colour, etc*/
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*Anything with this tag will be affected by this. Sizing, Font, colour, etc*/
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*Anything with this tag will be affected by this. Sizing, Font, colour, etc*/
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*Anything with this tag will be affected by this. This is creating the sizes the images in the content boxes will follow*/
.search-engine-optimization img {
    max-height: 200px;
}
/*Anything with this tag will be affected by this. Sizing, Font, colour, etc*/
.online-reputation-management img {
    max-height: 200px;
}
/*Anything with this tag will be affected by this. Sizing, Font, colour, etc*/
.social-media-marketing img {
    max-height: 200px;
}
/*Anything with this tag will be affected by this. This TAG is allowing it to be universal to different classes*/
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*Anything with this tag will be affected by this. Sizing, Font, colour, etc*/
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*Anything with this tag will be affected by this. Sizing, Font, colour, etc*/
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*Anything with this tag will be affected by this. This creates the bottom footer in a nice and easy to read manner*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/*Anything with this tag will be affected by this. Sizing, Font, colour, etc*/
.footer h2 {
    font-size: 20px;
}
